/* 
@font-face{
    font-family: 'fontawesome';
    src: url('../fonts/FontAwesome.otf')format('otf'),
            url('../fonts/fontawesome-webfont.eot')format('eot'),
            url('../fonts/fontawesome-webfont.svg')format('svg'),
            url('../fonts/fontawesome-webfont.ttf')format('ttf'),
            url('../fonts/fontawesome-webfont.woff')format('woff'),
            url('../fonts/fontawesome-webfont.woff2')format('woff2');
    font-size: 600;
    font-style: normal;
} */
.hello{
    color:#ff0000;
    background-image: url('../img/banner.jpg')
}